@model ComplaintDepartment.Models.View.ComplaintAndComments;
@{
    ViewData["Title"] = "Get Complaint";
}

@if (Model != null)
{
<div class="complaint">
    <div class="complaint-date">@Model.Complaint.Create.ToLocalTime()</div>
    <div class="complaint-contents">@Model.Complaint.Contents</div>
    <div class="complaint-markcomplete">
        <button class="complaint-mark-icon btn btn-primary" data-id="@Model.Complaint.ID">
            @if (!Model.Complaint.Completed)
            {
                <span>Mark Complete</span>
            }
            else
            {
                <span>Mark Incomplete</span>
            }
        </button>
    </div>
    <div class="complaint-addcomment"><button class="complaint-mark-comment btn btn-primary" data-id="@Model.Complaint.ID">Comment</button></div>
    <div class="complaint-addcomment"><button class="complaint-delete-button btn btn-danger" data-id="@Model.Complaint.ID">Delete</button></div>
    
    <div class="comments">
        @if (Model.Comments.Count == 0)
        {
            <div>No Comments</div>
        }
        else
        {
            foreach (var comment in Model.Comments)
            {
                <div class="comment">
                    <span>Comment</span><p> @comment.Contents</p><button class="delete-comment-button btn btn-danger" data-id="@comment.ID">Delete</button>
                </div>
            }
        }
    </div>
</div>
}
else
{
    <div>No such Complaint</div>
}